langgraph==0.6.7
langchain==0.3.27
langchain-openai==0.3.28
langchain-community==0.3.27
langchain-ollama==0.3.6
langchain-huggingface==0.3.1

pydantic==2.11.7
python-dotenv==1.1.1

pymupdf==1.24.14
faiss-cpu==1.9.0.post1
sentence-transformers==3.3.1
tavily-python==0.5.1

matplotlib==3.10.0
numpy==2.2.1
